html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

*,
button,
a,
p,
li {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.25rem;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background-color: black;
}

#content {
    width: min(100%, 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 3rem;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "nav-bar"
        "tab-specific-content"
        "footer";
}

nav-bar {
    grid-area: nav-bar;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    gap: 20%;
    background-color: black;
}

.tab-button {
    background: none;
    padding: .25rem .5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    transition: all .3s ease;
    border: 2px solid #00000000;
    border-radius: 2rem;
}

.tab-button:hover {
    color: #c29767;
    border: 2px solid #c29767;
    border-radius: 2rem;
}

main {
    background-color: #000000;
    background-image: url(./images/main-page-hero-alt.jpg);
    width: 100%;
    flex: 0 1 min(60vw, 650px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 -5rem;
    border-radius: 0 0 5rem 5rem;

}


.tab-specific-content {
    grid-area: tab-specific-content;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.home,
.contact-info {
    flex-direction: column;
}

.tab-specific-content p {

    background-color: #1a1b22;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 3rem 10%;
    margin: 3rem 0;
    text-align: center;
    line-height: 2.25rem;
}

.tab-specific-content p strong {
    font-family: 'Pacifico';
    font-size: 2.2rem;
    color: #E0E0CE;
}

.info-holder {
    width: 100%;

}

.food-examples,
.menu-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 1rem;
    justify-content: center;
}

.food-examples li,
.menu-holder li {
    display: flex;
    flex: 1 1 400px;
    max-height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: #1a1b22;
    border-radius: 1rem;
    gap: .5rem;
    transition: all .3s ease;
    margin: 1rem;
}

.food-examples li:hover,
.menu-holder li:hover {
    scale: 1.02;
    box-shadow: 0 0 40px hsla(0, 0%, 100%, 0.25);
}

.food-examples li h2,
.menu-holder li h2 {
    font-family: 'Pacifico';
    font-size: 2.25rem;
    transition: all .3s ease;
    margin-bottom: 1rem;
    text-decoration: underline;

}

.food-examples li h3,
.menu-holder li h3 {
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s ease;

}

.food-examples li span,
.menu-holder li span {
    font-size: .85rem;
    font-weight: 200;
    font-style: italic;
    transition: all .3s ease;

}

.food-examples li:hover h2,
.food-examples li:hover h3,
.food-examples li:hover span,
.menu-holder li:hover h3,
.menu-holder li:hover span {
    color: #E0E0CE;
}

.food-examples img,
.menu-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    margin-top: 1rem;

}

.contact-info {
    gap: 1rem;
}

.contact-info li:first-child {
    font-size: 3rem;
    font-family: 'Pacifico';
}



footer {
    grid-area: footer;
    background-color: #15161C;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

footer a {
    font-size: 1rem;
    color: #999999
}

footer>.git-hub-logo {
    height: 1.7rem;
    filter: brightness(.6)
}